@import 'tailwindcss';

@plugin 'tailwindcss-animate';

:root {
    /*--Base--*/
    --background--base: 0, 0, 0;
    --card-base: 18, 18, 20;
    --primary-base: 255, 255, 255;
    --destructive-base: 255, 68, 67;
    --quality-start: rgb(82, 115, 224);
    --quality-end: rgb(232, 71, 73);
    --quality-auto: rgb(51, 188, 183);
    --radius: 0.75rem;

    /*--Theme--*/
    --background: rgb(var(--background--base));
    --card: rgba(var(--card-base), 0.4);
    --primary: rgb(var(--primary-base));
    --secondary: rgba(var(--primary-base), 0.5);
    --tertiary: rgba(var(--primary-base), 0.75);
    --border: rgba(var(--primary-base), 0.2);
    --destructive: rgb(var(--destructive-base));
    --inner-primary: rgba(var(--primary-base), 0.1);
    --inner-secondary: rgba(var(--primary-base), 0.2);
    --inner-tertiary: rgba(var(--primary-base), 0.3);
}

@theme inline {
    /*--Font--*/
    --font-roboto: Roboto, sans-serif;

    /*--Color--*/
    --color-background: var(--background);
    --color-card: var(--card);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-inner-primary: var(--inner-primary);
    --color-inner-secondary: var(--inner-secondary);
    --color-inner-tertiary: var(--inner-tertiary);

    /*--Radius--*/
    --radius-sm: calc(var(--radius) - 6px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 8px);

    /*--Components--*/
    --scrubber-track-hover-time-padding: 4px 6px;

    /*--Transition--*/
    --default-transition-duration: 200ms;
}

@layer base {
    * {
        @apply border-border font-roboto;
    }

    body {
        @apply bg-background text-primary;
    }
}
